.card {
  display: flex;
  justify-content: center;
  position: relative;

  &__inner {
    max-width: 760px;
    background-color: $white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 0px 11px $lightGray;
  }

  &__img {
    width: 100%;
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
  }

  &__title {
    font-size: 24px;
    color: $gray;
    font-weight: 600;
    margin-bottom: 0;
  }

  &__description {
    color: lighten($gray, 20%);
    line-height: 25px;
  }

  &__body {
    border-bottom: 1px solid lighten($gray, 50%);
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
  }

  &__footer {
    padding: 20px 0;
  }
}
